{{!-- jokeservice.hbs --}}
<div id="ContentContainer">
    <p id="logo" class="logo">JOKESERVICE</p>

    <br />
    <br />

    <p id="joke">{{randomJoke.setup}} - {{randomJoke.punchline}}</p>
    <button id="hentJoke" onclick="nyJoke()">Hent ny joke</button>



    <br />
    <br />

    <div id=" nyjokeContainer">
        <h3>Tilføj ny joke</h3>
        <label for="setup">Setup</label>
        <br />
        <input id="setup" class="txtfield" type="text" />
        <br />
        <label for="punchline">Punchline</label>
        <br />
        <input id="punchline" class="txtfield" type="text" />
        <br />
        <button id="sendKnap" onclick="getJokeValues()">Ny joke</button>
    </div>

    <br />
    <br />


</div>