<div id="ContentContainer">
    <h3>Andre sider</h3>
    <select id="sitePicker" onchange="getOtherJokes()" default="VÆLG SITE">
        <option value="noSelect" selected>VÆLG SITE</option>
        {{#each sites}}
        <option value="{{address}}">{{name}}</option>
        {{/each}}
    </select>
</div>